body {
    padding: 50px;
    /* background-color: #66CCFF; */
    background:  url("https://images8.alphacoders.com/839/thumb-1920-839497.jpg") no-repeat fixed center; 
    font-family: Futura;
    /* font-family: sans-serif; */
  }
  #container {
    display: flex;
    justify-content: flex;
  }